body {
  background-color: black;
  font-family: helvetica, sans-serif;
  font-size: 22px;
  color: seashell;

}

#header {
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  background-color: black;
  position: fixed;
  top: 0px;
  margin-right: 10px;
  border-right: 10px;
  width: 100%;
  z-index: 1;

}

#header .container {
display: flex;
justify-content: space-between;
flex: 1;
border-right: 10px;
height: 100%;

}

.logo img{
  justify-content: flex-start;
  align-items: flex-start;
  height: 50px;
}

#header ul {
  padding-right: 10px;
  margin-right: 10px;
}
#header ul li {
  display: inline-block;
  justify-content: space-between;
  padding-right: 10px;

}

#mission {
  background-image: url('../images/img-mission-background.jpg');
  background-position: center;
  background-size: cover;
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex: wrap;
  padding-top: 70px;
  opacity: 0.9;

}

.statement {
  background-color: black;
  flex-grow: 1;
  text-align: center;
}

#featured {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
  opacity: 0.9;

}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.item {
  padding: 10px;
}

.item img {
  height: 200px;
  width: 300px;

}


#locations {
  background-image: url('../images/img-locations-background.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  height: 500px;
  width: 1100px;
  text-align: center;
  margin: auto;
  opacity: 1.0;
}

.container2 {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-around;
  margin: auto;
  flex: 1;
}

.location {
  background-color: black;
  opacity: 1.0;
  width: 300px;
  display: flex;
  align-self: center;
  flex-direction: column;

}

.location h3 p {
  text-align: center;
}

#contact {
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;

}

#contact p {

  flex: 1;
}
footer {
  padding-left: 20px;

}
